#section-header {
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    // position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    grid-area: header;
    height: 100vh;
}

body {
    margin-top: 58px;
}

.nav {
    height: $nav-height;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr repeat(4, auto) 1fr;
    grid-template-areas: ". logo nav nav nav .";
    list-style-type: none;
    background-color: rgba(150, 150, 0, 0.6);
    align-items: center;
    margin: 0px;
    // NAV BAR FIXED TO TOP
    z-index: 10;
    top: 0;
    position: fixed;
    width: 100%;
}

.nav-link {
    text-align: center;
}  

.logo a {
    font-family: 'Eater', cursive;
    text-align: center;
    color: white;
    background-color: black;
    grid-area: logo;
}

.nav-link a {
    height: 100%;
    text-align: center;
    background-color: red;
    grid-area: nav;
}

.header-content-wrapper {
    // display: grid;
}