@import './partials/variables';
@import './partials/navigation';
@import './partials/header';
@import './partials/about';
@import './partials/portfolio';
@import './partials/contact';
@import './partials/footer';

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100vh;
    background-color: $off-white;
    border-collapse: collapse;
    color: white;
    position: relative;
    padding-top: $nav-height;
    // font-family: 'Roboto Slab', serif;
}

body {
    // padding-top: $nav-height;/
    margin: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "n n n n n n n n n n n n"
    "h h h h h h h h h h h h"
    ". . a a a a a a a a . ."
    ". . . p p p p p p . . ."
    "f f f f f f f f f f f f";
}

@media only screen and (min-width: 769px) {
    .grid-container {
        grid-template-areas: 
        "n n n n n n n n n n n n"
        "h h h h h h h h h h h h"
        ". . . a a a a a a . . ."
        ". . . p p p p p p . . ."
        "f f f f f f f f f f f f";
    }
    html {
        padding-top: $nav-height-large;
    }
}