@import './partials/variables';
@import './partials/header';
@import './partials/about';
@import './partials/portfolio';
@import './partials/contact';
@import './partials/footer';

html {
    height: 100vh;
    box-sizing: border-box;
    background-color: darkgray;
    border-collapse: collapse;
    color: white;
    position: relative;
}

body {
    margin: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr auto auto auto auto;
    grid-template-areas: "header  header     header"
                         ".       about           ."
                         ".       portfolio       ."
                         "contact contact   contact"
                         "footer  footer     footer";
}