#section-footer {
    // padding: 30px 0;
    width: 100%;
    text-align: center;
    grid-area: f;
    background-color: $red;
}

.mdl-mini-footer {
    background-color: $black !important;
    justify-content: center !important;
}

#footer-social-icons i {
    color: $off-white !important;
}