#section-header {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
                         "name"
                         "info"
                         "cv";
    background-image: url('../../../res/img/computer-edited.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    grid-area: h;
    height: 100vh;
}

#section-header h1 {
    margin-top: 35px;
    letter-spacing: 4px;
    margin-bottom: 0;
    grid-area: name;
    font-size: 10vw;
    background-color: $red;
    font-family: 'Roboto Slab', serif;
    color: $off-white;
    text-transform: uppercase;
}

#section-header h4 {
    margin-top: 0;
    grid-area: info;
    background-color: $red;
    bottom: 2.5em;
    font-size: 3vw;
    color: $off-white;
    text-transform: uppercase;
}

#section-header a {
    align-self: center;
    grid-area: cv;
}

#cv-button {
    bottom: 50px;
    min-height: 50px;
}

@media only screen and (min-width: 769px) {
    #section-header h1 {
        font-size: 5vw;
    }
    #section-header h4 {
        padding-bottom: 12px;
        font-size: 2vw;
    }
    #cv-button {
        bottom: 100px;
    }
}