#section-portfolio {
  position: relative;
  grid-area: p;
  bottom: 50px;
}

#portfolio-container {
  display: grid;
  grid-gap: 20px;
  margin: 5px 0;
  bottom: 50px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#section-portfolio h4 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  width: 100%;
  color: $off-white;
  text-transform: uppercase;
  background-color: $red;
}

.demo-card-square.mdl-card {
  width: auto;
  height: 320px;
}

.port-piece .mdl-card__title {
  color: $off-white;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
  margin-bottom: 8px;
}

.mdl-button--accent
.mdl-button--accent
.mdl-button--raised
.mdl-button
.mdl-button--colored {
  vertical-align: super;
}

@media (min-width: 769px) {
  #section-portfolio {
    bottom: 75px;
  }
}
