$nav-height-large: 78px;
$nav-height: 58px;

// COLOURS
$blue: #4ABDAC;
$red: #FC4A1A;
$yellow: #F7B733;
// $grey: #DFDCE3;
$black: #2B2B2B;
$fuscia: #A239CA;
$neonblue: #4717F6;

$grey: #728798;
$brown: #b19491;
$red-brown: #894e53;
$yellowish: #ded8cc;
$off-white: #f3f3f3;

// MATERIAL
$red: #ff5252;